.main {
  position: relative;
  path {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
  }
  text {
    fill: #fff;
    font-size: 12px;
  }
  line {
    stroke: #fff;
    stroke-width: 2;
  }
}